@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    background: #D6CE15 !important;
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
}

a.navbar-brand {
    word-break: normal !important;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar li {
    font-family: 'Noto Serif Georgian', serif;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.authorization {
    font-family: 'Noto Serif Georgian', serif;
    border-radius: 10px;
    background: rgba(6,52,115,0.07);
    padding: 12px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: #063473 !important;
}

.authorization:hover {
    color: white !important;
    background: #063473;
}

.navbar .container-fluid {
    margin: 25px 0px 25px 0px;
}

.personIcon {
    display: none;
    font-size: 30px;
}

.personIcon a i {
    color: black;
}

header{
    padding-bottom:112px;
}
.banner {
    background: #D6CE15;
    font-size: 2.1rem;
    padding: 30px;
    font-family: 'Noto Serif Georgian', serif;
}
.registerButton {
    font-family: 'Noto Serif Georgian', serif;
    border-radius: 10px;
    background: #063473;
    padding: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    color: white;
}
.registerButton:hover {
    background: #D6CE15;
    color:white;
}
.mainContent{
    margin-top:40px;
}
.form-group{
    margin-top:10px;
}
.form-group input {
    border: 0;
    background-color: #f0f5f7;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.form-group input:focus {
    border: 1px solid #063473; 
    background-color: #fff;
    box-shadow:none;
}

/*Medias*/
@media only screen and (max-width: 991px) {
    .authDiv {
        display: none;
    }

    .navbar-nav {
        width: 100%;
    }

    .personIcon {
        display: block;
        position: absolute;
        right: 80px;
        top:31px;
    }
}
@media only screen and (max-width: 767px) {
    header{
        padding-bottom:104px;
    }
}