@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');
:root {
    --text: #063473;
}
html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
main{
    padding-bottom:4em;
}

a {
    text-decoration: none;
}

.navbar {
    background: #D6CE15 !important;
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.05);
}

a.navbar-brand {
    word-break: normal !important;
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar li {
    font-family: 'Noto Serif Georgian', serif;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.authorization {
    font-family: 'Noto Serif Georgian', serif;
    border-radius: 10px;
    background: rgba(6,52,115,0.07);
    padding: 12px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: var(--text) !important;
}

.authorization:hover {
    color: white !important;
    background: var(--text);
}

.navbar .container-fluid {
    margin: 25px 0px 25px 0px;
}

.personIcon {
    display: none;
    font-size: 30px;
}

.personIcon a i {
    color: black;
}

header{
    padding-bottom:112px;
}
.banner {
    background: #D6CE15;
    font-size: 2.1rem;
    padding: 30px;
    font-family: 'Noto Serif Georgian', serif;
}
.registerButton {
    font-family: 'Noto Serif Georgian', serif;
    border-radius: 10px;
    background: var(--text);
    padding: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    color: white;
}
.registerButton:hover {
    background: #D6CE15;
    color:white;
}
.mainContent{
    margin-top:40px;
}
.form-group{
    margin-top:10px;
}
.form-group input {
    border: 0;
    background-color: #f0f5f7;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.form-group input:focus {
    border: 1px solid var(--text); 
    background-color: #fff;
    box-shadow:none;
}
.userProfile{
    cursor:pointer;
}
.userProfile:hover {
    color: var(--text);
}
.menu{
    position:absolute;
    background:white;
    top:80px;
    padding-left:0;
    list-style:none;
    border-radius:5px;
    padding:5px 10px 5px 10px;
    margin-left:-90px;
}
.menu li a {
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}
.footer-img{
    max-width:220px;
}
.information-menu {
    font-family: 'Noto Serif Georgian', serif;
    color: var(--text);
    font-weight:bold;
    font-size:1.2rem;
}
.credits, .socials a {
    font-family: 'Noto Serif Georgian', serif;
    color: var(--text);
    font-size: 0.95rem;
}
.socials a:first-child{
    margin-left:0px;
}
.socials a {
    margin-left: 20px;
}
.footer-img{
    margin-top:-20px;
}
footer{
    padding-top:20px;
}
.contact-box a{
    font-family: 'Noto Serif Georgian', serif;
    color: var(--text);
    font-size: 0.95rem;
}
.pb-6{
    padding-bottom:6rem;
}
.hover-effect {
    display: inline-block;
    position: relative;
    transition: padding-left 0.4s ease-in-out; 
}

.hover-effect::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--text);
    position: absolute;
    top: 50%;
    left: 0%;
    transition: width 0.4s ease-in-out;
}

.hover-effect:hover::before {
    width: 14px;
}

.hover-effect:hover {
    padding-left: 20px; 
}
.price-box{
    border-radius:10px;
    background: var(--text);
}
.pricing-info {
    font-family: 'Noto Serif Georgian', serif;
}
.pricing-info p{
    color: #fccb12;
    font-size:1.1rem;
}
.pricing-info h4{
    color:#fff;
    font-weight:bold;
}
.pricing-info ul{
    color:#fff;
    font-size:0.9rem;
}
.pricing-info ul li i {
    font-size: 20px;
    margin-top: 5px;
    color: #fccb12;
    padding-right:5px;
}
.modal-header, .modal-body, .modal-footer, .modal-content{
    border:none;
}
.pass-modal{
    top:25%;
}
.alert p{
    margin-bottom:0px;
}
/*Medias*/
@media only screen and (max-width: 991px) {
    .authDiv {
        display: none;
    }

    .navbar-nav {
        width: 100%;
    }

    .personIcon {
        display: block;
        position: absolute;
        right: 80px;
        top:31px;
    }
    .site-title{
        text-align:left !important;
    }
    .premium-box{
        margin-top:20px;
    }
    .innerContent {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
@media only screen and (max-width: 767px) {
    header{
        padding-bottom:104px;
    }
    .login-module{
        margin-top:30px;
    }
}
@media only screen and (max-width: 575px) {
    .contact-box, .info-box, .information-menu, .credits, .socials {
        text-align: center;
    }
        .credits p {
            overflow-wrap: break-word;
            word-wrap: break-word;
            white-space: normal;
        }
    .site-title {
        text-align: center !important;
    }
}