@model JobCraft.Models.Vacancy
@{
    Layout = "_LayoutWithoutFooter";
    ViewData["Title"] = "ვაკანსიის დამატება";
}

<div class="col-sm-8 content container">
    <h3 class="mt-5">ვაკანსიის დამატება</h3>
    <div class="vacancy-inputs bg-white p-3 mt-4">
        <form asp-controller="Authorization" asp-action="Register" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label asp-for="VacancyName" class="control-label fw-bold"></label>
                        <input asp-for="VacancyName" class="form-control mt-1" aria-required="true" />
                        <span asp-validation-for="VacancyName" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <label asp-for="CompanyName" class="control-label fw-bold"></label>
                        <input asp-for="CompanyName" class="form-control mt-1" aria-required="true" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <label asp-for="Email" class="control-label fw-bold"></label>
                        <input asp-for="Email" class="form-control mt-1" aria-required="true" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <label asp-for="Phone" class="control-label fw-bold"></label>
                        <input asp-for="Phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" class="form-control mt-1" aria-required="true" placeholder="555-555-555" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-5">
                        <label asp-for="Location" class="control-label fw-bold"></label>
                        <select id="locations" class="form-control mt-1" asp-for="Location">
                            <option value="" disabled selected>აირჩიეთ მდებარეობა</option>
                            @foreach (var loc in Enum.GetValues(typeof(Locations)))
                            {
                                <option value="@loc">@loc</option>
                            }

                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="bi bi-caret-down"></i></div>
                        </div>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <label asp-for="EndsAt" class="control-label fw-bold"></label>
                        <input asp-for="EndsAt" id="datePicker" type="date" class="form-control mt-1" aria-req uired="true" />
                        <span asp-validation-for="EndsAt" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>


<script>

    document.getElementById("datePicker").min = new Date().toISOString().split("T")[0];
</script>