@{
    ViewData["Title"] = "კონტაქტი";
}

<div class="container-sm contact-section mt-5">
    <div class="row">
        <div class="address col-md-4 d-flex justify-content-center flex-column text-center">
            <i class="bi bi-geo-alt-fill"></i>
            <p>მდებარეობა</p>
            <span>თბილისი</span>
        </div>
        <div class="telephone col-md-4 d-flex justify-content-center flex-column text-center">
            <i class="bi bi-telephone-fill"></i>
            <p>ტელეფონი</p>
            <span>+995 555 123456</span>
        </div>
        <div class="email col-md-4 d-flex justify-content-center flex-column text-center">
            <i class="bi bi-envelope-fill"></i>
            <p>E-mail</p>
            <span>info@jobcraft.ge</span>
        </div>
    </div>
</div>