@model JobCraft.Models.VacancyList
@{
    ViewData["Title"] = "ვაკანსიები";
}


@{
    if (Model.Vacancies != null && Model.Vacancies.Any())
    {
        foreach (var vacancy in Model.Vacancies)
        {
            <div class="vacancy-box border-1 border mt-4">
                <div class="row">
                    <div class="col-lg-1 col-2">
                        <a href="#">
                            <img src="/Uploads/@(vacancy?.LogoName)" alt="Company Logo" style="width: 50px; height:50px; border-radius:5px; margin-top:5px">
                        </a>
                    </div>

                    <div class="col-10">
                        <div class="vacancy-title">
                            <a asp-route="jobdesc" asp-route-id="@vacancy.Id">@vacancy?.VacancyName</a>
                        </div>

                        <div class="vacancy-company d-flex">
                            <i class="bi bi-house"></i>
                            <a href="#">@(vacancy?.CompanyName)</a>
                        </div>

                        <div class="vacancy-type d-flex">
                            <i class="bi bi-briefcase"></i>
                            <a href="#">@(vacancy?.JobCategory)</a>
                        </div>

                        <div class="vacancy-location d-flex">
                            <i class="bi bi-geo-alt"></i>
                            <a href="#">@(vacancy?.Location)</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No vacancies available.</p>
    }
}
