@model JobCraft.Models.LoginRegisterViewModel
@{
    ViewData["Title"] = "Authorization";
}
<div class="contaienr-fluid banner text-center">შესვლა/რეგისტრაცია</div>
@if (!User.Identity.IsAuthenticated)
{
    <div class="container mainContent">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>Create a free account</h2>

                <form asp-controller="Authorization" asp-action="Register" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="RegistrationModel.FirstName" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="RegistrationModel.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                            <span asp-validation-for="RegistrationModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationModel.LastName" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="RegistrationModel.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                            <span asp-validation-for="RegistrationModel.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationModel.Email" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="RegistrationModel.Email" class="form-control" type="email" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="RegistrationModel.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationModel.Password" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="RegistrationModel.Password" class="form-control" type="password" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="RegistrationModel.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationModel.PasswordConfirm" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="RegistrationModel.PasswordConfirm" class="form-control" type="password" aria-required="true" placeholder="Confirm Password" />
                            <span asp-validation-for="RegistrationModel.PasswordConfirm" class="text-danger"></span>
                        </div>
                    </div>
                    @if (TempData["msgRegister"] != null)
                    {
                        <div class="alert-warning p-3 mt-2 col-md-10">
                            @TempData["msgRegister"]
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default registerButton mt-3 w-100">რეგისტრაცია</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-md-6 col-sm-12 login-module">
                <h2>Login</h2>
                <form asp-controller="Authorization" asp-action="Login" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="LoginModel.Email" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Email" class="form-control" type="email" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginModel.Password" class="control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Password" class="form-control" type="password" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-2 d-flex justify-content-between col-md-10">
                        <label for="remember">
                            <input asp-for="LoginModel.RememberMe" class="form-check-input">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </label>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot Password?</a>
                    </div>


                    @if (TempData["msgLogin"] != null)
                    {
                        <div class="alert-warning p-3 mt-2 col-md-10">
                            @TempData["msgLogin"]
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default registerButton mt-3 w-100">შესვლა</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal pass-modal" tabindex="-1" role="dialog" id="forgotPasswordModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="email" id="userEmail" class="form-control" aria-required="true" placeholder="Enter your email" />
                        <span id="emailError" class="text-danger"></span>
                        <span id="emailSuccess" class="text-success"></span>
                    </div>
                    <button type="button" class="mt-2 registerButton border-0" onclick="submitEmail()">Submit</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="text-center mt-3 text-danger">You are already logged in!</h1>
}
