@{
    ViewData["Title"] = "Reset Password";
}
<div class="container d-flex justify-content-center mt-4">
    <div class="form-group col-6">
        <label class="control-label">Email:</label>
        <input class="form-control" type="email" value="@ViewBag.Email" readonly/>
    </div>
</div>
