@model JobCraft.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<form asp-controller="Authorization" asp-action="PasswordReset" method="post" class="w-100">
    @Html.AntiForgeryToken()
    <div class="container d-flex justify-content-center mt-4">
        <div class="col-lg-6 col-12">
            <div class="form-group col-lg-10 col-12">
                <label asp-for="Email" class="control-label"></label>
                <input class="form-control" asp-for="Email" type="email" value="@ViewBag.Email" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="col-lg-10 col-12">
                    <input asp-for="Password" class="form-control" type="password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <div class="col-lg-10 col-12">
                    <input asp-for="PasswordConfirm" class="form-control" type="password" aria-required="true" placeholder="Confirm Password" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-10 col-12">
                <button type="submit" class="btn btn-default registerButton mt-3 w-100">შეცვლა</button>
            </div>
        </div>
    </div>
</form>