@{
    ViewData["Title"] = "ფასები";
}
<div class="contaienr-fluid banner text-center">ფასები</div>
<div class="container mainContent">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="innerContent price-box me-3">
                <div class="pricing-info">
                    <h5>სტანდარტული განცხადება</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="innerContent price-box ms-3">
                a
            </div>
        </div>
    </div>
</div>