@{
    ViewData["Title"] = "ფასები";
}
<div class="contaienr-fluid banner text-center">ფასები</div>
<div class="container mainContent">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="innerContent price-box me-3 p-5">
                <div class="pricing-info">
                    <p>სტანდარტული განცხადება</p>
                    <h4 class="pt-2">30₾</h4>
                    <ul class="list-unstyled mt-4">
                        <li><i class="bi bi-check-lg"></i>გამოქვეყნების პერიოდი - 30 დღე</li>
                        <li><i class="bi bi-check-lg"></i>კომპანიის ლოგოს გამოჩენა</li>
                        <li><i class="bi bi-check-lg"></i>პროფილის მართვა</li>
                        <li><i class="bi bi-check-lg"></i>ვაკანსიების ანალიტიკა</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="innerContent price-box ms-3 p-5 premium-box">
                <div class="pricing-info">
                    <p>პრემიუმ განცხადება</p>
                    <h4 class="pt-2">65₾</h4>
                    <ul class="list-unstyled mt-4">
                        <li><i class="bi bi-lightning-fill"></i>პრემიუმ ველში მოთავსება - 7 დღე</li>
                        <li><i class="bi bi-lightning-fill"></i>განმასხვავებელი ნიშანი</li>
                        <li><i class="bi bi-lightning-fill"></i>ძიებისას პრიორიტეტულობა</li>
                        <li><i class="bi bi-lightning-fill"></i>სოციალურ მედიაში გაზიარება</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>